<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>A Spotify World in Review</title>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/style.css">
<script src="/script.js" defer></script>
</head>
<h1 id="my_title"> The World In Review</h1>
<div id ="my_dataviz"></div>
<div id ="my_chart"></div>
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>

<body>
</body>
</html>